header {
  height: 100px;
  width: 1000px;
  background-color: rgb(0,30,91);
  display: flex;
}

header p {
  color: rgb(255,255,255);
  font-size: 30px;
  margin-left: 65px;
}

.logo {
  margin-left: 20px;
  margin-top: 12.5px;
}

img {
  height: 75px;
  width: 120px;
}

.mainNav {
  width: 150px;
  height: 500px;
  background: linear-gradient(to bottom, rgb(0,30,91), rgb(89,111,159));
}

.subNav {
  
}

 a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-size: 20px;

}
ul {
  padding-top: 50px;
  margin-top: 0;
}

li {
  list-style: none;
}

footer {
  height: 80px;
  width: 1000px;
  background-color: rgb(89,111,159);
}
